---
import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header.astro";
import "@/styles/styles.scss";
import "./Layout.scss";
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width" /> 
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> 
    <meta name="generator" content={Astro.generator} />
    <title>Lukas Busch | Web Developer</title>
  </head>
  <body>
    <canvas id="canvas"></canvas>
    <Header />
    <slot />
    <Footer />

    <script type="module">
      import '/src/layouts/Layout.ts';
    </script>
  </body>
</html>
